<div class="movie-container">

  <div class="movie-title">
    <div class="section-1">
      Do you have fav movie series?
    </div>
    <div class="section-2">
      Select some
    </div>
  </div>

  <div class="movie-body">
    <div *ngFor="let movie of movies">
      <mat-checkbox [(ngModel)]="movie.checked" (ngModelChange)="changeCheckedValue(movie)">{{movie.name}}</mat-checkbox>
    </div>
  </div>

  <div class="movie-nav">
    <a routerLink="/covers">
      <p>Done?</p>
      <p>Go to covers</p>
    </a>
  </div>

</div>